<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header"><a href="https://www.youtube.com/channel/UClE9FhHSvBLb1doZfDMyi_A">Henry Learns to Golf</a></h5>
    <div class="card-body">
        <iframe width="280" height="157" src="https://www.youtube.com/embed/cqb657PIcQA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>
